*,
*::before,
*::after {
    box-sizing: border-box;
}
:root {
    --off-month-c: hsl(0 0% 60%);
}
html, body {
    height: 100%;
}
body {
    margin: 0;
    font-family: system-ui;
    background-color: aliceblue;
}
/* ограничим текст события в 1 строку */
.line-clamp {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: var(--max-lines, 1);
    overflow: hidden;
}
/* сетка календаря */
.calendar {
    min-height: 100%;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: 1.5rem;
    grid-auto-rows: 1fr;
    grid-gap: 2px;
    padding: 0;
}
/* день недели: пн, вт, ср... */
.day-of-week {
    padding-inline: 4px;
}
/* квадратик календаря */
.day {
    min-height: 6rem;
    padding: 4px 4px 0 4px;
    font-size: 0.85rem;
    background-color: white;
}
/* дни не из текущего месяца */
.off-month {
    color: var(--off-month-c);
}
/* дни календаря надо поместить на место, чтобы их не вытеснили полоски событий */
.week1 {
    grid-row: 2;
}
.week2 {
    grid-row: 3;
}
.week3 {
    grid-row: 4;
}
.week4 {
    grid-row: 5;
}
.week5 {
    grid-row: 6;
}
.week6 {
    grid-row: 7;
}
.weekday1 {
    grid-column: 1;
}
.weekday2 {
    grid-column: 2;
}
.weekday3 {
    grid-column: 3;
}
.weekday4 {
    grid-column: 4;
}
.weekday5 {
    grid-column: 5;
}
.weekday6 {
    grid-column: 6;
}
.weekday7 {
    grid-column: 7;
}
/* полоска события */
.event {
    --font-size: 1rem;
    --line-height: 1.4;
    --event-gap: 2px;
    align-self: self-start;
    margin-block-start: calc((var(--font-size) * var(--line-height) + var(--event-gap)) * var(--event-num));
    padding-inline: 4px;
    padding-block: 0;
    line-height: var(--line-height);
    border-radius: 4px;
    background-color: cornflowerblue;
    color: white;
    /* fix for button element */
    text-align: left;
    border: none;
    font-family: inherit;
    /* font-size: inherit; */
    font-size: var(--font-size);
}
/* распределим полоски событий по вертикали, чтобы они не сливались в одну линию */
.event-num-1 {
    --event-num: 1;
}
.event-num-2 {
    --event-num: 2;
}
.event-num-3 {
    --event-num: 3;
}
.event-num-4 {
    --event-num: 4;
}
.event-num-5 {
    --event-num: 5;
}
.event-num-6 {
    --event-num: 6;
}

/* типы событий */
.happiness {
    background-color: #ff8400;
}
.art_of_silence,
.blessing {
    background-color: #35b3e1;
}
.art_of_meditation {
    background-color: #7b54bf;
}
.ssy,
.deep_sleep {
    background-color: #ff7b7c;
}
.yes {
    background-color: #4bbf05;
}
.art_excel {
    background-color: #ffc001;
}
.intuition {
    background-color: #3f34f7;
}
.cooking {
    background-color: #f17645;
}
.give_up_smoking {
    background-color: #4692ff;
}
.unknown {
    /* background-color: black; */
}

h2 {
    margin-block-start: 3.5rem;
    padding-inline: 1ch;
    text-align: center;
    color: hsl(0 0% 30%);
}
h2:first-of-type {
    margin-block-start: 2rem;
}

/* Окно с информацией о событии/курсе */
.event-details {
    --padding: 1.1rem;
    border-radius: 4px;
    border-width: 1px;
    border-color: hsl(208 10% 67%);
    padding: 0;
}
.event-details header {
    display: flex;
    justify-content: space-between;
    gap: 1ch;
    padding: var(--padding);
    background-color: aliceblue;
}
.event-details h3 {
    margin-block: 0;
    color: hsl(0 0% 30%);
}
.event-details button.close {
    align-self: baseline;
}
.event-details dl {
    margin: 0;
    padding: var(--padding);
    line-height: 1.3;
}
.event-details dl > div {
    display: flex;
    gap: 1ch;
}
.event-details dd {
    margin: 0;
}
