  <dialog class="event-details add-event">
    <form method="post" action="{{ url_for('events') }}">
      <div class="form-group">
	{{ form.event_type.label }}
	{{ form.event_type() }}
      </div>
      <div class="form-group">
	{{ form.start_date.label }}
	{{ form.start_date() }}
      </div>
      <div class="form-group">
	{{ form.end_date.label }}
	{{ form.end_date() }}
      </div>
      <div class="form-group">
	{{ form.schedule.label }}
	<div class="flex-line">
	{% for checkbox in form.schedule %}
	<label>{{ checkbox() }} {{ checkbox.label.text }}</label>
	{% endfor %}
	</div>
      </div>
      <div class="form-group">
	{{ form.start_time.label }}
	{{ form.start_time() }}
      </div>
      <div class="form-group">
	{{ form.place.label }}
	{{ form.place() }}
      </div>
      <div class="form-group">
	{{ form.teachers.label }}
	{{ form.teachers() }}
      </div>
      <div class="form-group">
	<button type="submit">Добавить</button>
      </div>
    </form>
  </dialog>
