<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Расписание курсов и мероприятий ИЖ в Иркутске</title>
    <link rel="stylesheet" href="calendar.css?ver=2025-11-11T19:30:00+08:00">
    <script src="calendar.js?ver=2025-11-11T19:30:00+08:00" defer></script>
</head>
<body>
  <dialog class="event-details">
    <header>
      <h3>О событии</h3>
      <button class="close">X</button>
    </header>
    <table>
      <tbody>
	<tr>
	  <th scope="row">Мероприятие</th>
	  <td data-name="name"></td>
	</tr>
	<tr>
	  <th scope="row">Даты</th>
	  <td data-name="dates"></td>
	</tr>
	<tr>
	  <th scope="row">Время</th>
	  <td data-name="time"></td>
	</tr>
	<tr>
	  <th scope="row">Место</th>
	  <td data-name="place"></td>
	</tr>
	<tr>
	  <th scope="row">Учителя</th>
	  <td data-name="teachers"></td>
	</tr>
	<tr>
	  <th scope="row">Участников</th>
	  <td data-name="people"></td>
	</tr>
      </tbody>
    </table>
  </dialog>
  <h1>Курсы «Искусства Жизни» в Иркутске</h1>
  <nav>
    <ul>
      {%- for year in calendar_data %}
      <li><a id="tab-{{ loop.index }}" href="#cal-{{ year }}">{{ year }}</a></li>
      {%- endfor %}
    </ul>
  </nav>
  {%- for year in calendar_data %}
  <section id="cal-{{ year }}" aria-labelledby="tab-{{ loop.index }}">
  {%- for data in calendar_data[year] %}
    {% include 'calendar.html' %}
  {%- endfor %}
  </section>
  {%- endfor %}
</body>
</html>
